:root {
  --bg-white: hsl(0, 0%, 100%);
  --bg-body: hsl(212, 45%, 89%);
  --clr-text: hsl(220, 15%, 55%);
  --clr-heading: hsl(218, 44%, 22%);
}

html,
body {
  font-size: 15px;
  font-family: "Outfit", sans-serif;
  background: var(--bg-body);
}

h1,
h2,
h3,
p,
span {
  text-align: center;
}

h1,
h2,
h3 {
  color: var(--clr-heading);
}

p,
span {
  color: var(--clr-text);
}

img {
  border-radius: 0.7rem;
}

body {
  height: 100vh;
  display: flex;
  justify-items: center;
  align-items: center;
}

main {
  background: var(--bg-white);
  width: 85%;
  margin: 0 auto;
  border-radius: 1rem;
}

.container {
  padding: 1rem 1rem 2.6rem 1rem;
}

.content {
  width: 89%;
  margin: 0 auto;
}

h1 {
  margin-top: 1.25rem;
  font-size: 1.5rem;
  font-weight: 700;
}

p {
  margin-top: 1rem;
  font-weight: 400;
}
